<div class="container">
  <h2>{{ tournament.name }} - Modus</h2>
  <hr />
  <form>
    <div class="form-row align-items-center">
      <div class="col-sm-2">
        <!-- <div class="form-check mb-2 mb-sm-0">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="radioMode" id="radioLeague" value="League" /> Liga
          </label>
        </div> -->
        <label class="custom-control custom-radio">
          <input id="radioLeague" type="radio" name="radioMode" class="custom-control-input" [(ngModel)]="tournament.mode" value="league"
          />
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Liga</span>
        </label>
      </div>
      <div class="col-sm-2">
        <label class="custom-control custom-radio">
          <input id="radioTournament" type="radio" name="radioMode" class="custom-control-input" [(ngModel)]="tournament.mode" value="tournament"
          />
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Turnier</span>
        </label>
      </div>
    </div>
    <div *ngIf="tournament.mode === 'league'">
      <div class="form-row align-items-center">
        <div class="col-sm-3">
          <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" name="cbSecondRound" [(ngModel)]="tournament.secondRound" />
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Hin- und Rückspiel</span>
          </label>
        </div>
        <div class="col-sm-2">
            <label class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" name="radioGame" [(ngModel)]="tournament.classificationMode" value="league"
              />
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Nur Liga</span>
            </label>
          </div>
        <div class="col-sm-2">
          <label class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" name="radioGame" [(ngModel)]="tournament.classificationMode" value="semifinal"
            />
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Halbfinale/Finale</span>
          </label>
        </div>
        <div class="col-sm-2">
          <label class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" name="radioGame" [(ngModel)]="tournament.classificationMode" value="final"
            />
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Finale</span>
          </label>
        </div>
        <div class="col-sm-2">
          <label class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" name="radioGame" [(ngModel)]="tournament.classificationMode" value="tournament"
              />
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Platzierungsspiele</span>
          </label>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-label-form col-sm-2">Anzahl der Ligen</label>
        <div class="col-sm-1">
          <input type="number" class="form-control" #leagueNumber (change)="setLeagueNumber(leagueNumber.value)" value="1" />
        </div>
      </div>
      <div *ngIf="leagues.length > 1">
        <div class="form-group row" *ngFor="let team of tournament.teams">
          <label class="col-label-form col-sm-2">{{ team.name }}</label>
          <div class="col-sm-2">
            <select class="form-control" [(ngModel)]="team.league" [ngModelOptions]="{ standalone: true }">
              <option *ngFor="let league of leagues" [ngValue]="league">
                {{ league }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row" *ngIf="!tournament.oldName">
      <div class="col-sm-12">
        <button type="button" class="btn btn-outline-primary float-right" [disabled]="!tournament.mode" (click)="create()">
          Turnier erstellen
        </button>
      </div>
    </div>
    <div class="form-group row" *ngIf="tournament.oldName">
      <div class="col-sm-6">
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="cbGenerateSchedule" [(ngModel)]="generateNewSchedule" />
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Spielplan neu generieren (Es werden alle Ergebnisse gelöscht!)</span>
        </label>
      </div>
      <div class="col-sm-6">
        <button type="button" class="btn btn-outline-primary float-right" [disabled]="!tournament.mode" (click)="update()">
          Turnier aktualisieren
        </button>
      </div>
    </div>
    <!-- <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="radioMode" id="radioTournament" value="Tournament" /> Turnier
      </label>
    </div> -->
  </form>
</div>