<div class="container">
  <h2>{{ tournament.name }} - Modus</h2>
  <form>
    <fieldset class="form-group">
      <div class="row">
        <div class="col-sm-10">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="radioMode" id="radioLeague" value="League" />
              Liga
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="radioMode" id="radioTournament" value="Tournament" />
              Turnier
            </label>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</div>