<header>
  <div class="tus-navhead">
    <div class="container">
      <nav class="nav">
        <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Home</a>
        <a class="nav-link" routerLink="/schedule" routerLinkActive="active">Spielplan</a>
        <a class="nav-link" routerLink="/standings" routerLinkActive="active">Tabelle</a>
        <a class="nav-link" routerLink="/admin" routerLinkActive="active">Admin</a>
      </nav>
    </div>
  </div>
</header>
<main [@routerTransition]="getState(o)">
  <router-outlet #o="outlet"></router-outlet>
  <app-messages></app-messages>
</main>
<footer class="footer">
  <div class="container">
    <span class="text-muted">&copy;2017 by Christian Quast</span>
  </div>
</footer>