<div class="container">
  <!-- <h2>Tabelle</h2> -->
  <div *ngIf="!standingsLeague1">
    Es wurde noch kein Turnier angelegt.
  </div>
  <div *ngIf="!showSchedule">
    <div *ngIf="standingsLeague1">
      <h4 *ngIf="standingsLeague2">Liga 1</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Mannschaft</th>
            <th>Spiele</th>
            <th>g.</th>
            <th>u.</th>
            <th>v.</th>
            <th>Tore</th>
            <th>Diff.</th>
            <th>Pkte.</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let standing of standingsLeague1">
            <td>{{ standing.team }}</td>
            <td>{{ standing.won + standing.lost + standing.drawn }}</td>
            <td>{{ standing.won }}</td>
            <td>{{ standing.drawn }}</td>
            <td>{{ standing.lost }}</td>
            <td>{{ standing.goalsFor }} : {{ standing.goalsAgainst }}</td>
            <td>{{ standing.goalsFor - standing.goalsAgainst }}</td>
            <td>{{ standing.points }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="standingsLeague2">
      <h4>Liga 2</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Mannschaft</th>
            <th>Spiele</th>
            <th>g.</th>
            <th>u.</th>
            <th>v.</th>
            <th>Tore</th>
            <th>Diff.</th>
            <th>Pkte.</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let standing of standingsLeague2">
            <td>{{ standing.team }}</td>
            <td>{{ standing.won + standing.lost + standing.drawn }}</td>
            <td>{{ standing.won }}</td>
            <td>{{ standing.drawn }}</td>
            <td>{{ standing.lost }}</td>
            <td>{{ standing.goalsFor }} : {{ standing.goalsAgainst }}</td>
            <td>{{ standing.goalsFor - standing.goalsAgainst }}</td>
            <td>{{ standing.points }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="showSchedule">
    <round-robin [schedule]="tournament" *ngIf="tournament.mode === 'league'"></round-robin>
  </div>
  <div class="float-right">
    <button type="button" class="btn btn-outline-secondary" (click)="startTimer()" *ngIf="!timer">Slide aktivieren</button>
    <button type="button" class="btn btn-secondary" (click)="endTimer()" *ngIf="timer">Slide deaktivieren</button>
  </div>
</div>